<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>  
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <% item.images.each_with_index do |image, i| %>
    写真 <%= i %>

    <%= form.fields_for :images, image do |image_form| %>
      <div border="1">
        <%= image_form.label :title %>
        <%= image_form.text_field :title %>
        <% if image.photo.attached? %>
          <%= image_tag(url_for(image.photo), size: '100') %>
        <% else %>
          画像なし
        <% end %>
        写真を指定・入れ替えたい場合はファイルを指定
        <%= image_form.file_field :photo %>
      </div>
    <% end %>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
